// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.titulo-panel
{
    color: #5b5b5b;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}

.card-cabecera
{
    padding: 0.15rem 1.25rem;
    background-color: #007bff;

}
